<h1>Current Weather for {{currentWeather.name}}</h1>

<dl>
  <dt>Currenttly</dt>
  <dd>{{currentWeather.weather[0].main}}</dd>
  <dd>{{currentWeather.weather[0].description}}</dd>
  <dt>Tempurature</dt>
  <dd>{{currentWeather.main.temp}} &deg;F</dd>
  <dt>Wind</dt>
  <dd>{{currentWeather.wind.speed}} mph at {{currentWeather.wind.deg}} &deg;</dd>
  <dt>Clouds</dt>
  <dd>{{currentWeather.clouds.all}}%</dd>
</dl>

<p><ng-href="/#/forecast/{{cityID}}" clas="btn btn-lg btn-primary">View 16-Day Forecast</a></p>
